<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="searchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" rel="stylesheet">
    <title>Searchbar</title>
</head>
<body>

    <div id="searchbar">
        <div id="input">
            <input type="search" id="searchInput" placeholder="Search...">
            <img src="images/search.svg" alt="searchIcon" id="searchIcon">
        </div>
        <div id="tags">
            <button type="button" id="searchTags">
                <p>Popular Tags</p>
            </button>
            <div class="dropdown-content">
                <a href="#">Content</a>
                <a href="#">Different</a>
                <a href="#">Some More</a>
              </div>
        </div>
        <div id="go">
            <button type="button" id="searchGo">Search</button>
        </div>
    </div>

    <div id="headerBanner">
        <h3>Create an Account</h3>
        <section id="email">
            <h4>Email</h4>
            <input type="email">
        </section>
        <section id="name">
            <h4>Name</h4>
            <input type="text">
        </section>
        <section id="password">
            <h4>Password</h4>
            <input type="password">
        </section>
        <section id="conPassword">
            <h4>Confirm Password</h4>
            <input type="password">
        </section>
        <section id="check">
            <input id="checkBox" type="checkbox"> I accept the terms of service
        </section>
        <section>
            <button type="button" id="register">Register</button>
        </section>
    </div>

    <nav id="nav">
        <a href="#" class="navitem" id="home">HOME</a>
        <a href="#" class="navitem">CONTACTS</a>
        <a href="#" class="navitem">JOB</a>
        <a href="#" class="navitem">COMMUNITY</a>
        <a href="#" class="navitem">COMPANY</a>
        <div id="idioma">
            <a href="#" id="lngDropDown">English</a>
            <img src="images/drop-down-arrow.svg" alt="drop down arrow">
        </div>
    </nav>

    <nav id="nav2">
        <hr>

        <div id="navBar2">
            <section class="navItem2">
                <img src="images/house-black-silhouette-without-door.svg" alt="" class="navIcon">
                <div class="navText">
                    <span>HOME</span>
                </div>  
            </section>
            <section class="navItem2">
                <img src="images/contacts.svg" alt="" class="navIcon">
                <div class="navText">
                    <span>CONTACTS</span>
                </div>
            </section>
            <section class="navItem2">
                <img src="images/portfolio.svg" alt="" class="navIcon">
                <div class="navText">
                    <span>JOB</span>
                </div>
            </section>
            <section class="navItem2">
                <img src="images/multiple-users-silhouette.svg" alt="" class="navIcon">
                <div class="navText">
                    <span>COMMUNITY</span>
                </div>
            </section>
            <section class="navItem2">
                <img src="images/skycraper.svg" alt="" class="navIcon">
                <div class="navText">
                    <span>COMPANY</span>
                </div>
            </section>
        </div>

        <hr>
    </nav>


    <footer>

        <section id="FooterLeft">
            <div>
                <h3 id="FooterLogo">TX</h3>
            </div>
            <div>
                <p id="Address">Bruc 120, Entresuelo 5 08006 Barcelona.</p>
            </div>
        </section>

        <section id="FooterRight">
            <div id="FooterLinks">
                <div class="footerLinks">
                    <p>Quiénes somos</p>
                    <p>Empresas</p>
                    <p>Candidatos</p>
                    <p>Noticias</p>
                </div>
                <div class="footerLinks">
                    <p>Contacto Trabajo</p>
                    <p>Únete al equipo</p>
                    <p>Agencia de colocación</p>
                    <p>Temporal</p>
                </div>
            </div>
            <div>
                <p>©2019 TX, Todos los derechos reservados.</p>
            </div>
        </section>

    </footer>

</body>
</html>